body,
html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/space-1580897389262-9363.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}
section {
  display: flex;
}

h1 {
  text-align: center;
  color: rgb(200, 200, 200);
  margin-right: 130px;
}

.instructions {
  float: right;
  color: rgb(200, 200, 200);
  font-size: 2em;
  margin-right: -200px;
  margin-top: 100px;
  opacity: 1;
}

canvas {
  margin-bottom: 300px;
  opacity: 0.6;
}

aside {
  text-align: right;
  margin-top: -400px;
  margin-right: -100px;
}
h2 {
  color: rgb(200, 200, 200);
}

audio {
  visibility: hidden;
}
