body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/space-1580897389262-9363.jpg');
  font-family: 'Open Sans Condensed', sans-serif;
}
section {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  text-align: center;
}

aside h1 {
  color: rgb(200, 200, 200);
}

.instructions {
  float: right;
  color: rgb(200, 200, 200);
  font-size: 2em;
  margin-right: -200px;
}
